* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html,body{
    background-color: rgb(47, 105, 105);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(5, 5, 5);
    font-family: 'Rowdies', cursive;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row{
    max-width: 320px;
    margin: 4% auto 0 auto;
}

.container{
    background: linear-gradient(140deg, rgb(24, 12, 95), rgb(121, 19, 168));
    margin: 13% 41% 1% 39%;
    width: 320px;
    height: 500px;
    box-shadow:1px 7px 5px 5px rgba(68, 68, 68, 0.6); ;
    display: inline-block;
}

/* First row */
.row_one{
    margin-bottom: 60px;
}

.predictability{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.humidity{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wind{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Second row */


.temperature{
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 600%;
    /* margin-right: -30px; */
}
.min-max{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.max{
    /* margin: 30px 0 5px 25px; */
    font-size: 80%;
}
.max i{
    font-weight: 1000;
}
.min i{
    font-weight: 1000;
}

.min{
    /* margin: 5px 0 0 25px; */
    font-size: 80%;
}


/* Third row */
.row_three{
    display: flex;
    flex-direction: column;
}
.city{
    display: flex;
    justify-content: center;
}
.state{
    display: flex;
    justify-content: center;
}
    
/* Fourth row */
.state_icon_svg{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}























.search_div{
    position: absolute;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    left: 530px;
    top: 120px;
}















.searchBtnfield{
    /* display: flex;
    justify-items: stretch; */
}

.search_field{
    position: absolute;
    top: 40%;
    left: 27%;
    width: 250px;
    height: 40px;
    border: black 1px solid;
    border-radius: 32px 32px 32px 32px;
    cursor: pointer;
}



input::placeholder{
    font-size: 18px;
    opacity: 0.7;
}

